footer{
    position: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: auto;
    height: 200px;
    width: 100%;
    left: 0px;
    bottom: 0;
}