.testimonials-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #495E57;
    width: 100%;
    height: 426px;
    gap: 20px;
}
.testimonials-main-container > p {
    color: #F4CE14;
    font-size: 40px;
    font-weight: bolder;
}
.review-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 980px;
}
.review-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    /* border-radius: 16px; */
    width: 100%;
    max-width: 500px;
    /* max-height: 410px; */
    height: 300px;
    background-color: white;
    padding: 20px;
}
.review-card img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover; /* This will cover the 200x200 area without distortion */
    display: block; /* Optional: Removes any default margin or spacing */
    border-radius: 50%;
}
.card-name{
    font-size: 20px;
    font-weight: bolder;
}
#stars{
    color: #F4CE14;
}